n8n/shopme-whatsapp-workflow.json
{
  "name": "Temp Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-start",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "41ff1d3d-9ad2-4abc-ac03-fadf45e31b7a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2600,
        360
      ],
      "webhookId": "3be8d24a-6a91-4a00-94d3-609e253398cb"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  // Esponi il tipo e il valore di body come output per debug\n  return {\n    json: {\n      original: item.json,\n      bodyType: typeof item.json.body,\n      bodyValue: item.json.body\n    }\n  };\n});"
      },
      "id": "c83f6d6c-05ad-4afd-be9a-14674c6e0000",
      "name": "Flatten body after Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -2420,
        360
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a179627-1c1f-4c54-af66-6ad7491f99b2",
              "leftValue": "={{ true}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2140,
        360
      ],
      "id": "8f17e90e-caa6-4bf8-a542-f3ca75c9ea20",
      "name": "Filter",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nlet message =item.json.messageContent || \"\";\n \n\nreturn [\n  {\n    json: {\n      message: message\n    }\n  }\n];"
      },
      "id": "ec02fd7d-dc4d-4d8b-a00c-f7245c41ff33",
      "name": "return wip message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1820,
        500
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const agentConfig =$input.first().json.original.body.precompiledData.agentConfig;\n const messages = $input.first().json.original.body.precompiledData.customer.conversationHistory;\n\nconst messageContent= $input.first().json.bodyValue.messageContent\nconst sessionToken= $input.first().json.bodyValue.sessionToken\n\nreturn [\n  {\n    json: {\n     chatInput : agentConfig.prompt,\n      temperature : agentConfig.temperature,\n      maxTokens: agentConfig.maxTokens,\n      model: agentConfig.model,\n      messages,\n      messageContent,\n      sessionId: sessionToken\n      \n    },\n \n  }\n];\n"
      },
      "id": "964b4e05-d8aa-4c70-a75b-74fb38781f49",
      "name": "prepare-data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1820,
        200
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "//const item = $input.first();\n\nlet message = \"New order\"\n \n\nreturn [\n  {\n    json: {\n      message \n    }\n  }\n];"
      },
      "id": "60323309-8160-4ff7-81ec-318471bb7dfc",
      "name": "CallingFunction NewOrder()",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -740,
        500
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const args = JSON.parse(item.json.choices[0].message.function_call.arguments);\nreturn [{ json: args }];"
      },
      "id": "375b88ec-8d26-431f-a2c5-418113f433e0",
      "name": "Parse searchRag arguments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -740,
        320
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://localhost:3001/api/search_rag",
        "options": {},
        "bodyParametersUi": {
          "parameter": []
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -540,
        320
      ],
      "id": "ee9ea6fd-3b21-4250-a433-172e4a7050ae",
      "name": "HTTP Request searchRag"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"model\": \"{{ $json.model }}\",\n  \"messages\": {{ $json.messages }},\n  \"temperature\": {{ $json.temperature }},\n  \"max_tokens\": {{ $json.max_tokens }}\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1180,
        460
      ],
      "id": "4c66a291-eed0-4983-8724-76d172039f31",
      "name": "LLM"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "{{ $json.choices[0].message.function_call.name }}",
                    "rightValue": "searchRag",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "24ba27ab-8657-4005-845c-17dda3241394"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8b53db12-987e-4414-8a53-044b60f0691c",
                    "leftValue": "{{ $json.choices[0].message.function_call.name }}",
                    "rightValue": "newORder",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c54db954-f064-40e4-971b-6a067ec10208",
                    "leftValue": "={{ $json.choices[0].message.function_call.name }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1020,
        460
      ],
      "id": "a4c6bc98-0742-4b2d-97a0-cb33650007ee",
      "name": "Calling Function Switch"
    },
    {
      "parameters": {
        "jsCode": "const cleanString = $input.first().json.output.replace(/```json\\n?|```/g, '');\nconst jsonObj = JSON.parse(cleanString);\n \n\nreturn {\n  chatInput: jsonObj.found_data\n}"
      },
      "id": "8d68e161-f3f1-4a63-8842-ec8ca665440e",
      "name": "return LLM response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1100,
        0
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconsole.log('Risposta OpenRouter:', JSON.stringify(item, null, 2));\n\nlet message = 'Nessuna risposta dal modello';\nif (item.choices && item.choices[0] && item.choices[0].message && item.choices[0].message.content) {\n  message = item.choices[0].message.content;\n}\n\nreturn  {\n  message : item.choices[0].message.content\n}\n"
      },
      "id": "a5993c42-8101-4f1c-9a51-2364be52249a",
      "name": "Return LLM  Format response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -780,
        80
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1500,
        0
      ],
      "id": "e4542f2c-c48d-4b0b-b65e-c8252ded56be",
      "name": "AI Agent",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {
          "maxTokens": "={{ $json.maxTokens }}",
          "temperature": "={{ $json.temperature }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1500,
        180
      ],
      "id": "c28ea94d-3ab3-4326-a0bf-9cd4fd75f651",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "wULmtD18AyTFRgQo",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1380,
        180
      ],
      "id": "55bbcba4-10db-4782-acc2-5e44fa4506ba",
      "name": "Simple Memory"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "connection": "keep-alive",
            "content-type": "application/json",
            "accept": "*/*",
            "accept-language": "*",
            "sec-fetch-mode": "cors",
            "user-agent": "node",
            "accept-encoding": "gzip, deflate",
            "content-length": "7448"
          },
          "params": {},
          "query": {},
          "body": {
            "workspaceId": "cm9hjgq9v00014qk8fsdy4ujv",
            "phoneNumber": "+39123456789",
            "messageContent": "Ciao",
            "sessionToken": "yw0z4td8x1h1nm7rgfc912",
            "messages": [
              {
                "role": "user",
                "content": "Ciao"
              },
              {
                "role": "assistant",
                "content": "Si è verificato un errore di connessione. Riprova più tardi."
              },
              {
                "role": "user",
                "content": "chi sei?"
              },
              {
                "role": "assistant",
                "content": "Si è verificato un errore di connessione. Riprova più tardi."
              },
              {
                "role": "user",
                "content": "Ciao"
              },
              {
                "role": "assistant",
                "content": "Si è verificato un errore di connessione. Riprova più tardi."
              },
              {
                "role": "user",
                "content": "Ciai"
              },
              {
                "role": "assistant",
                "content": "Si è verificato un errore di connessione. Riprova più tardi."
              },
              {
                "role": "user",
                "content": "Ciao"
              },
              {
                "role": "assistant",
                "content": "Si è verificato un errore di connessione. Riprova più tardi."
              }
            ],
            "precompiledData": {
              "agentConfig": {
                "id": "agent-config-1750945495722",
                "workspaceId": "cm9hjgq9v00014qk8fsdy4ujv",
                "model": "openai/gpt-4o-mini",
                "temperature": 0.7,
                "maxTokens": 1000,
                "topP": 0.9,
                "prompt": "You are a RAG (Retrieval-Augmented Generation) processor specialized in analyzing user queries and retrieving relevant business data.\n\n🎯 YOUR ROLE:\n- Analyze user messages to understand their intent\n- Search and filter database content for relevance\n- Structure found data into clear, organized format\n- Provide accurate, factual information only\n\n🔍 SEARCH CAPABILITIES:\n- **Products** → Database product catalog with prices, descriptions, availability\n- **Services** → Available business services with details and pricing\n- **FAQs** → Frequently asked questions and policies\n- **Documents** → Business documents, regulations, legal information\n- **Company Info** → Business details, hours, contact information\n\n💡 QUERY ANALYSIS:\nWhen users ask questions, identify the intent and search relevant data sources:\n\n**Product Queries**:\n- \"Do you have wine?\" → Search products for wine category\n- \"Show me cheese under €20\" → Search products: category=cheese, maxPrice=20\n- \"What pasta is available?\" → Search products for pasta items\n- \"Mozzarella availability\" → Search products for mozzarella\n\n**Service Queries**:\n- \"What services do you offer?\" → Search all services\n- \"Do you deliver?\" → Search services for delivery/shipping\n- \"Cooking classes available?\" → Search services for cooking/classes\n\n**Policy/FAQ Queries**:\n- \"Return policy\" → Search FAQs for return/refund information\n- \"Shipping time\" → Search FAQs for delivery/shipping info\n- \"Payment methods\" → Search FAQs for payment information\n- \"Business hours\" → Search company info or FAQs\n\n**Document Queries**:\n- \"International shipping laws\" → Search documents for legal/regulatory info\n- \"Product certificates\" → Search documents for certifications\n- \"Import requirements\" → Search documents for import/export rules\n\n🗄️ DATA PROCESSING:\n1. **Receive** user query\n2. **Identify** intent and required data type\n3. **Search** relevant database tables\n4. **Filter** results for relevance and accuracy\n5. **Structure** data in organized format\n6. **Return** clear, factual information\n\n📋 OUTPUT FORMAT:\nStructure your response as organized data:\n\n```json\n{\n  \"query_intent\": \"product_search|service_inquiry|faq_question|document_search|company_info\",\n  \"found_data\": {\n    \"products\": [\n      {\n        \"name\": \"Product Name\",\n        \"price\": \"€XX.XX\",\n        \"description\": \"Product description\",\n        \"category\": \"Category\",\n        \"availability\": \"available|out_of_stock\"\n      }\n    ],\n    \"services\": [...],\n    \"faqs\": [...],\n    \"documents\": [...],\n    \"company_info\": {...}\n  },\n  \"total_results\": number,\n  \"relevance_score\": \"high|medium|low\"\n}\n```\n\n🚫 RESTRICTIONS:\n- **NEVER invent or create data** - only use actual database content\n- **NO fictional prices** - only real product pricing\n- **NO made-up products** - only existing catalog items\n- **NO false availability** - only actual stock information\n- **NO generic responses** - always search for specific data\n\n⚡ SEARCH STRATEGY:\n- Use semantic search for better matching\n- Include related/similar items when exact match not found\n- Search multiple data types when query is ambiguous\n- Prioritize exact matches over partial matches\n- Include pricing and availability when relevant\n\n🎯 QUALITY METRICS:\n- **Accuracy**: Only factual, database-verified information\n- **Completeness**: Include all relevant search results\n- **Relevance**: Results match user query intent\n- **Structure**: Well-organized, easy-to-process data format\n\nRemember: You are the data retrieval specialist. Your job is to find accurate, relevant information from the database and present it in a structured format. Focus on precision and factual accuracy above all else.",
                "isActive": true
              },
              "customer": {
                "id": "ab47dfc1-1146-45ac-992f-7375455d54ca",
                "name": "Mario Rossi",
                "email": "test.customer@shopme.com",
                "phone": "+39123456789",
                "language": "it",
                "isActive": true,
                "isBlacklisted": false,
                "activeChatbot": true,
                "discount": 0,
                "currency": "EUR",
                "address": "Via Roma 123, Milano, Italy",
                "company": "Test Company SRL",
                "businessName": "L'Altra Italia(ESP)",
                "businessType": "ECOMMERCE",
                "plan": "FREE",
                "whatsappPhoneNumber": "+34654728753",
                "whatsappApiKey": "your-whatsapp-api-key",
                "timezone": "Europe/Rome",
                "url": "http://localhost:3000",
                "notificationEmail": "admin@laltroitalia.shop",
                "description": "Prodotti alimentari italiani di alta qualità",
                "wipMessages": {
                  "it": "Sto elaborando la tua richiesta, un momento per favore...",
                  "en": "Processing your request, please wait a moment...",
                  "es": "Procesando tu solicitud, por favor espera un momento...",
                  "fr": "Je traite votre demande, veuillez patienter un moment...",
                  "de": "Ich bearbeite Ihre Anfrage, bitte warten Sie einen Moment...",
                  "pt": "Processando sua solicitação, aguarde um momento por favor..."
                },
                "conversationHistory": [
                  {
                    "id": "99675ae5-3aa7-4229-a583-1623c50ce90c",
                    "content": "Ciao",
                    "role": "user",
                    "timestamp": "2025-06-26T13:38:36.336Z"
                  },
                  {
                    "id": "ca032a94-a66b-44cb-9a4a-a30b81093354",
                    "content": "Si è verificato un errore di connessione. Riprova più tardi.",
                    "role": "assistant",
                    "timestamp": "2025-06-26T13:38:36.337Z"
                  },
                  {
                    "id": "40d93132-a692-46da-97a4-612982ccb243",
                    "content": "chi sei?",
                    "role": "user",
                    "timestamp": "2025-06-26T13:39:59.577Z"
                  },
                  {
                    "id": "e3e2e49e-51bb-42d0-bce3-2b42c02371d6",
                    "content": "Si è verificato un errore di connessione. Riprova più tardi.",
                    "role": "assistant",
                    "timestamp": "2025-06-26T13:39:59.579Z"
                  },
                  {
                    "id": "25cc391a-cfee-424b-9362-b5cce4b15967",
                    "content": "Ciao",
                    "role": "user",
                    "timestamp": "2025-06-26T13:40:29.132Z"
                  },
                  {
                    "id": "d68a46e6-1bdc-4520-af9a-3a94ba798f5c",
                    "content": "Si è verificato un errore di connessione. Riprova più tardi.",
                    "role": "assistant",
                    "timestamp": "2025-06-26T13:40:29.133Z"
                  },
                  {
                    "id": "8a70de71-ff6d-42fb-a1b4-b0f83cafed30",
                    "content": "Ciai",
                    "role": "user",
                    "timestamp": "2025-06-26T13:41:20.276Z"
                  },
                  {
                    "id": "37bf71a1-7b6c-482d-94d1-9b6a712fdf30",
                    "content": "Si è verificato un errore di connessione. Riprova più tardi.",
                    "role": "assistant",
                    "timestamp": "2025-06-26T13:41:20.277Z"
                  },
                  {
                    "id": "c17f2a46-7218-40eb-ab16-e6922e9823ae",
                    "content": "Ciao",
                    "role": "user",
                    "timestamp": "2025-06-26T13:43:41.185Z"
                  },
                  {
                    "id": "a61883d0-6658-4aa3-ba71-7c0822fc4056",
                    "content": "Si è verificato un errore di connessione. Riprova più tardi.",
                    "role": "assistant",
                    "timestamp": "2025-06-26T13:43:41.186Z"
                  }
                ]
              }
            }
          },
          "webhookUrl": "http://localhost:5678/webhook/webhook-start",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Flatten body after Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten body after Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "return wip message",
            "type": "main",
            "index": 0
          },
          {
            "node": "prepare-data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare-data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse searchRag arguments": {
      "main": [
        [
          {
            "node": "HTTP Request searchRag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calling Function Switch": {
      "main": [
        [
          {
            "node": "Parse searchRag arguments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CallingFunction NewOrder()",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "LLM": {
      "main": [
        [
          {
            "node": "Calling Function Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request searchRag": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "return LLM response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v0"
  },
  "versionId": "3d5de79f-28f4-47b2-9e93-40cf649c33bb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ae2a7363ad016a6fce9a21805f9e7da3dfed9cc4777afa6d055110c871b8f65"
  },
  "id": "px4cL5MEa4gsyOgW",
  "tags": []
}